<nav class="sub nav">
  <a routerLink="/clinic/new">New clinic</a>
</nav>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let clinic of clinics">
      <td>{{clinic.id}}</td>
      <td><a routerLink="/clinics/{{clinic.id}}">{{clinic.name}}</a></td>
      <td><a routerLink="/clinics/{{clinic.id}}/edit">Edit</a> | <a href="javascript:void(0)" (click)="destroyClinic(clinic)">Delete</a></td>
    </tr>
  </tbody>
</table>
