/* You can add global styles to this file, and also import other style files */
body {
  font-family: sans-serif;
  padding: 10% 20%;
}

table {
  width: 100%;
  border: 1px solid #ccc;
  margin: 1em 0;

  th {
    background: #eee;
    padding: 1em 0;
  }

  td {
    text-align: center;
    border-bottom: 1px dotted #ccc;
    padding: 1em 0;
  }

  tr {
    &:last-child {
      td {
        border-bottom: 0;
      }
    }
  }
}

#main-link {
  a {
    color: black;
  }
}

.nav {
  display: flex;

  a {
    border-right: 1px solid #ccc;
    padding: 0 1em 0 0;
    margin: 0 0 0 1em;

    &:first-child {
      margin: 0;
    }

    &:last-child {
      border-right: 0;
    }
  }

  &.sub {
    background: #eee;
    margin: 1em 0;
    padding: 1em;
  }
}

a, a:visited {
  color: blue;
  text-decoration: none;
}
